@charset "utf-8";

/*-------------------------------------------------
Author : 최순철
Create date : 2019-08-20
-------------------------------------------------*/

body {
    width: 100%;
    text-align: center;
    background: #212529;
    color: #fff;

    #app {
        text-align: center;

        .matching-result {
            position: fixed;
            display: table;
            width: 100%;
            height: 100%;
            font-size: 40px;
            color: #fff;
            z-index: 1000;

            div {
                display: table-cell;
                vertical-align: middle;
            }
        }

        ul {
            overflow: hidden;
            width: 1400px;
            margin: 0 auto;
            padding: 10px 0;

            li {
                position: relative;
                float: left;
                width: 280px;
                height: 200px;

                &>div {
                    width: 100%;
                    height: 100%;
                }

                .mask {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 100;
                }

                .card {
                    border: 1px solid #4c4c4c;
                    font-size: 38px;
                    line-height: 200px;
                    cursor: pointer;
                    // font-size: 0;

                    &.rotate90 {
                        &>span {
                            -webkit-transform: rotateY(90deg);
                            // -webkit-transform: rotateY(810deg);
                            -webkit-transition: -webkit-transform .2s;
                        }

                        &+.mask {
                            display: none;
                        }
                    }

                    &.rotate0,
                    &.complate {
                        &>span {
                            -webkit-transform: rotateY(0deg);
                            -webkit-transition: -webkit-transform .2s;
                        }
                    }

                    span {
                        display: block;
                        width: 100%;
                        height: 100%;
                        vertical-align: middle;
                        color: #333;

                        &.card1 {
                            color: #ffbc84;
                        }

                        &.card2 {
                            color: #a1f6ff;
                        }

                        &.card3 {
                            color: #f5ff6f;
                        }

                        &.card4 {
                            color: #00edb4;
                        }

                        &.card5 {
                            color: #e900ed;
                        }

                        &.card6 {
                            color: #9d00ed;
                        }

                        &.card7 {
                            color: #ffbc00;
                        }

                        &.card8 {
                            color: #8945ff;
                        }

                        &.card9 {
                            color: #72ff97;
                        }

                        &.card10 {
                            color: #ff7b7b;
                        }
                    }
                }
            }
        }
    }
}