@charset "utf-8";

/*-------------------------------------------------
Author : 최순철
Create date : 2019-08-20
-------------------------------------------------*/

// 포지션 위치 믹스인
@mixin positionLocation($top, $left) {
    top: $top;
    left: $left;
}